*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    background-color: #fff;
    background-image: url('./images/ricepaper_@2X.png');
    background-repeat: repeat;
    color: #555;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo-img{
    float : left;
    height: 60px;
    width: auto;
    margin-left: 10px;
    margin-top: 0px;
    
}
.logo{
    height: 10px;
    width: auto;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 30px;
    color: #fff;
}
header{
    background-image: url(images/Book.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.411)), url(images/Book.png);
    background-size: cover; 
    background-position: top;
    height: 100vh;
    background-attachment: fixed;
}
header.other {
    background-image: none;
    
    height: auto;
    background-color: rgba(24, 11, 11, 0.342);
}

.main-nav{
    width:100%;
   
    list-style: none;
    font-size: 25px;
    background-color: rgba(8, 68, 68, 0.247);
}
.menu{
    float: right;
    margin-top: 15px;
    margin-right: 20px;

}
.main-nav li{

    display: inline-block;
    margin-left: 70px;
}
.main-nav li a:link,
.main-nav li a:visited{
    padding: 10px 0;
    color: #fff;
    text-decoration:none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition:  border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}
.education-bank h2{
    position: absolute;
    width : auto;
    top: 25%;
    left:35vw;
    display : flex;
    width: 300px;
    color:  White;
}
h2{ color:  White;
text-align: center;

}
.education-bank p{
    position: absolute;
    width : auto;
    top: 15%;
    left: 77vw;
    display : flex;
    border-radius: 50%;
    padding:40px;
    border: 2px solid blue;
    width: 200px;
    color: #ffffff;
    font-size: 20px;
}
.quotes p{
    position: absolute;
    width : auto;
    top: 55%;
    border-radius: 50%;
    padding:40px;
    border: 2px solid blue;
    left: 77vw;
    display : flex;
    width: 250px;
    color:#ffffff;

}


.section-news h2{
    color: whitesmoke;
}
.box-box14 img {

    height: 200px;
  }
.news img:hover {
    transform: scale(1.10);
    opacity: 1;
}

p{
    color: yellowgreen;
}

.picbox {

    margin-top: 5px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width:100%;

   

}
.picbox li{
    
display: inline;

}
.Gallery{
    height: 300px;
    width: 550px;
   border: 3px solid blue;
   padding:10px;
    margin-left: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
    
}
