*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    background-color: #fff;
    background-image: url('../Images/back.png');
    background-repeat: repeat;
    color: #555;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo-img{
    float : left;
    height: 60px;
    width: auto;
    margin-left: 10px;
    margin-top: 0px;
    
}
.logo{
    height: 1oopx;
    width: auto;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 30px;
    color: #fff;
}
header{
    background-image: url(images/Book.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.411)), url(images/Book.jpg);
    background-size: cover; 
    background-position: top;
    height: 100vh;
    background-attachment: fixed;
}
.main-nav{
    width:100%;
   
    list-style: none;
    font-size: 25px;
    background-color: rgba(8, 68, 68, 0.247);
}
.menu{
    float: right;
    margin-top: 15px;
    margin-right: 20px;

}
.main-nav li{

    display: inline-block;
    margin-left: 70px;
}
.main-nav li a:link,
.main-nav li a:visited{
    padding: 10px 0;
    color: #eee;
    text-decoration:none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition:  border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}
.education-bank h2{
    position: absolute;
    width : auto;
    top: 25%;
    left: 5vw;
    display : flex;
    width: 300px;
    color:  White;
}

.education-bank p{
    position: absolute;
    width : auto;
    top: 85%;
    left: 27vw;
    display : flex;
    width: 200px;
    color: #ffffff;
}
.quotes p{
    position: absolute;
    width : auto;
    top: 85%;
    left: 53vw;
    display : flex;
    width: 250px;
    color:#ffffff;

}


.section-news h2{
    color: whitesmoke;
}
.box-box14 img {

    height: 300px;
  }
.news img:hover {
    transform: scale(1.10);
    opacity: 1;
}
.grid {
    display: grid;
    margin: 0px 50px 10px 0px;
    
    grid-template-columns: auto repeat(4, minmax(auto, 140px)) auto;
    grid-auto-rows: minmax(100px, 170px);
    grid-gap: 0.15vw;
   padding-left:60px;
   padding-top: 13px;
    border: 2px solid white;
}
p{
    color: yellowgreen;
}

.box {
    position: relative;
}

.box11 {
    grid-column: 1/ span 2;
    grid-row :span 2;
}

.box12 {
    grid-column: span 1;
    grid-row: span 3;
}

.box13 {
    grid-column: 1 / span 2;
    grid-row: span 2;
}

.box16 {
    grid-column: span 5;
    grid-row: span 1;
}